:root {
  --primary: white;
  --secondary: black;
  --accent: red;
  --spacing: 0.5rem; /* equivalent to 8px */
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--spacing) * 2);
}

h1, h2 {
    color: var(--accent);
}



/* FAITH'S SECTION */
  .intro h1 {
    text-align: center;
    color: var(--secondary);
    font-size: calc(var(--spacing) * 3);

  }

  .intro-polaroid {
    background-color: var(--primary);
    border: solid 0.25rem #EBE8FF;
    border-radius: calc(var(--spacing) * 1); 
    padding: calc(var(--spacing) * 3);
    margin: auto;
    width: calc(var(--spacing) * 35); /* equivalent to 280px*/
    display:flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
  }

    .intro-sub{
    margin: 0;
    font-size: calc(var(--spacing) * 2);
    color: var(--secondary);
    text-align:left;
    
  }

    .intro-info {
    margin: 0;
    font-size: calc(var(--spacing) * 2);
    color: var(--secondary);
    text-align:left; 
  }

    .code-block{
    background-color: #f0e6ff;
     padding: calc(var(--spacing) * 12) calc(var(--spacing) * 2);
  }




  /* MEDIA QUERY */
@media (min-width: 68em) {
    .intro-polaroid {
    gap: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 5);
    width:100%;
    max-width: 560px;
    
  }


}


/* WHY THEY MATTER */





/* KRISHIV'S SECTION */




/* CLOUE'S SECTION */




/* ANNA'S SECTION */
.pros,
.cons {
  margin: 2rem;
  padding: 1rem 2rem 1rem 0rem;
}

.pros li,
.cons li {
  padding-bottom: 1rem;
  display: block;
}

.pros h1,
.cons h1 {
  text-align: center;
}

.pros {
  --changeMe: #eeeeee;
  background-color: var(--changeMe);
  color: #1f1f1f;
}

.pros h1 {
  color: #1f1f1f;
}

.cons,
.cons h1 {
  background-color: #6b21a8;
  color: #f8f0ff;
}

.change-me {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}


/* CREDIT SECTION */




/* MEDIA QUERY */
@media (min-width: 68em) {
  
  /* ANNA'S SECTION */
  .pros-cons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .pros,
  .cons {
    width: 30rem;
    margin: 0;
  }


}